<div class="container my-4">
  <div class="jumbotron">
    <h1 class="display-4">HELLO</h1>
    <p class="lead">I am Harsh, senior full stack developer.</p>
    <hr class="my-4" />
    <p>
      I utilises web resources to create softwares and learn technology. To Know
      More about me. Click On the below Button.
    </p>
    <a
      class="btn btn-primary btn-lg"
      href="https://www.linkedin.com/in/harsh-raj-mishra-48aa98148/?originalSubdomain=in"
      role="button"
      >view more</a
    >
  </div>
</div>
